<!-- <dx-pie-chart
    id="pie"
    title="Area of Countries"
    palette="bright"
    [dataSource]="areas"
    >
    <dxi-series
        argumentField="country"
        valueField="area">
        <dxo-label [visible]="true">
            <dxo-connector
                [visible]="true"
                [width]="1"></dxo-connector>
        </dxo-label>
    </dxi-series>
    <dxo-size [width]="500"></dxo-size>
    <dxo-export [enabled]="true"></dxo-export>
    <dxo-tooltip
      [enabled]="true"
      [customizeTooltip]="customizaToooltip"
    ></dxo-tooltip>
</dx-pie-chart> -->


<!-- <dx-chart
    id="chart"
    title="Area of Countries"
    
    [dataSource]="dataSource">
   
    <dxi-series
        argumentField="day"
        valueField="oranges"
        name="Orange"
        type="bar"
        
        
        >
        <dxo-point color="teal" ></dxo-point>
    </dxi-series>
    <dxi-series
        argumentField="day"
        valueField="apple"
        name="Apple"
        type="bar"
        color="#ffaa66">
        <dxo-point color="red" ></dxo-point>
    </dxi-series>
    <dxo-common-series-settings [barPadding]="0.5" [barWidth]="70">
      <dxo-point color="blue" ></dxo-point>
    </dxo-common-series-settings>
    <dxo-tooltip
      [enabled]="true" [zIndex]="1000"
      [customizeTooltip]="customizaToooltip"
    ></dxo-tooltip>
</dx-chart> -->

<div style="background : white">
<h1>title chart</h1>
<dx-chart
    id="chart"
    [dataSource]="userData"
    (onPointClick)="onPointClick($event)"
    [palette]="palette_cs">
    <dxo-title text="Age Breakdown of Facebook Users in the U.S." verticalAlignment="bottom" horizontalAlignment="center">
        <dxo-font color="black" size="20px" weight="700" family="arial" opacity="0.8"></dxo-font>
        <dxo-subtitle text="subtitle"></dxo-subtitle>
        <dxo-margin left="10"></dxo-margin>
    </dxo-title>
    
   
    <dxo-common-series-settings 
        argumentField="age"
        type="bar"
        valueField="number"
        barWidth="40"
        [ignoreEmptyPoints]="true">
         <dxo-label [visible]="true" position="stack">
                                        <dxo-font [size]="11"></dxo-font>
                                    </dxo-label>
        <dxo-label [visible]="true"  >
                                        <dxo-font [size]="10" ></dxo-font>
                                    </dxo-label>
    </dxo-common-series-settings>
    <dxo-series-template nameField="age"></dxo-series-template>
    <dxo-legend verticalAlignment="bottom" horizontalAlignment="center"> </dxo-legend>
</dx-chart>
</div>
<div style="background : white">
  <dx-chart
    id="chart"
    title="Gross State Product within the Great Lakes Region"
    [dataSource]="productionData"
    (onPointClick)="onPointClick($event)">
    <!-- <dxi-series valueField="year2004" name="2004"></dxi-series>
    <dxi-series valueField="year2001" name="2001"></dxi-series>
    <dxi-series valueField="year1998" name="1998"></dxi-series> -->
    <dxo-series-template
        nameField="year"
        ></dxo-series-template>
    <dxo-common-series-settings
        argumentField="country"
        valueField="oil"
        type="stackedBar"
        hoverMode="allArgumentPoints"
        selectionMode="allArgumentPoints">
        <dxo-label
            [visible]="true"
            
            [format]="{
                type: 'fixedPoint',
                precision: '0'
            }">
        </dxo-label>
    </dxo-common-series-settings>
    <dxo-legend
        verticalAlignment="bottom"
        horizontalAlignment="center">
    </dxo-legend>
    <dxo-export [enabled]="true"></dxo-export>

    <dxo-tooltip
      [enabled]="true" [zIndex]="1000"
      [customizeTooltip]="customizaToooltip"
    ></dxo-tooltip>
</dx-chart>
</div>

